[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
jupyter = "*"
numpy = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
google = "*"
mlxtend = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.8"
